.header_img_box {
  text-align: center;
  padding-top: 30px;
}
.header_img_box img {
  width: 40%;
  height: 40%;
  border-radius: 100%;
}
.header_img_box p {
  margin-top: 1em;
}
.text_center {
  text-align: center;
}
.fl {
  float: left;
}
.sett {
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  width: 80px;
  display: inline-block;
  cursor: pointer;
}
body .ant-layout-header {
  // position: fixed;
  // width: 100%;
  // z-index: 10000000;
}
.ant-layout-header .ant-menu-submenu-title,
.ant-layout-header .ant-menu-item {
  // background: rgb(249, 249, 249);
}
.ant-layout-header .ant-menu-horizontal > .ant-menu-submenu,
.ant-layout-header .ant-menu-horizontal > .ant-menu-item {
  border-bottom: none;
}
.small_sider .ant-menu.ant-menu-dark .ant-menu-item-selected,
.small_sider .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: none;
}
.small_sider .ant-menu-dark .ant-menu-item-selected span,
.small_sider .ant-menu-dark .ant-menu-item-selected span:hover {
  color: #fd9a70;
}
.small_sider {
  background-color: #deeeeb;
  padding-top: 90px;
  width: 120px;
  text-align: center;
}
.ant-layout-content {
  position: relative;
  // top: 64px;
}
/* body .ant-layout-sider,body .ant-menu-dark,body .ant-menu-dark .ant-menu-inline.ant-menu-sub{
  background-color: #3a938d;
  box-shadow: none;
}

body .ant-menu.ant-menu-dark .ant-menu-item-selected, body .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
  background-color: #48B1AA;
} */
body .ant-layout-sider {
  height: 100%;
  background-color: #3a938d;
  box-shadow: 2px 2px 2px #dee1dc;
}
body .ant-menu-dark,
body .ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: none;
  box-shadow: none;
}
body .ant-menu-dark .ant-menu-item span,
body .ant-menu-dark .ant-menu-sub {
  color: #a8aaa7;
}
body .ant-menu-dark .ant-menu-item:hover span,
body .ant-menu-dark .ant-menu-item .ant-menu-item-active span {
  color: rgb(206, 207, 205);
}
body .ant-menu-dark .ant-menu-item-selected span,
body .ant-menu-dark .ant-menu-item-selected span:hover {
  color: #fff;
}

.ant-layout-sider .ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-layout-sider
  .ant-menu-submenu-popup.ant-menu-dark
  .ant-menu-item-selected {
   background-color: #48B1AA;
}
.other_show{
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  border-right: 1px solid #e5e5e5;
  .ant-divider-horizontal.ant-divider-with-text:before, .ant-divider-horizontal.ant-divider-with-text-left:before, .ant-divider-horizontal.ant-divider-with-text-right:before, .ant-divider-horizontal.ant-divider-with-text:after, .ant-divider-horizontal.ant-divider-with-text-left:after, .ant-divider-horizontal.ant-divider-with-text-right:after{
    border-top: 1px solid #2BAE82;
  }
  .ant-divider-inner-text {
    font-size: 17px;
  }
  .show_content{
    padding: 0 20px;
  }
  .ant-divider-horizontal.ant-divider-with-text{
    margin: 0;
    padding: 20px 0;
  }
}
.margin_left_70{
  margin-left: 70px;
}
.number-bettw_10{
  margin: 0 10px;
}
.header_left{
  width: 200px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
}

.ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-item:hover,.ant-menu-submenu-title:hover{
  color: #fff;
  background-color: #347D76;
}
.ant-menu-submenu-title,.ant-menu-horizontal > .ant-menu-item-selected{
  color: #fff;
}